@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



:root{
    --banner-primary: 'DynaPuff', cursive;
    --banner-secundary: 'Poiret One', cursive;
    --primary-font: 'Poppins', sans-serif;
    --header-logo: 'Patrick Hand', cursive;
    --header-font: ;
}

*{
    padding: 0;
    margin: 0;
}

/* scrollbar */

body::-webkit-scrollbar {
    width: 0;
}


/* nav bar */

nav{
    visibility: hidden;
    height: 0;
}

/* section */

section{
    height: 100vh;
}


/* Banner de inicio */

section #inicio{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#image-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}

#image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

#banner{
    position: absolute;
    top: 65%;
    left: 5%;
    color: white;
}

#banner h1{
    font-family: var(--banner-primary);
    font-size: 3.2em;
}

#banner p{
    font-family: var(--banner-secundary);
    font-size: 1.2em;
}

#projetos{
    background-color: aqua;
    height: 100vh;
}
#habilidades{
    background-color: rgb(255, 0, 0);
    height: 100vh;
}
#abount-me{
    background-color: aqua;
    height: 100vh;
}
/**/

/* footer */

footer {
    background-color: #e7e7e7;
    color: #262626;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.content-1 {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

footer div.content-2 {
    margin: 10px;

    font-family: var(--banner-secundary);
    font-weight: 200;
    font-style: italic;
    color: black;
}

.redes ul {
    list-style: none;
    display: flex;
}

.redes ul li {
    margin-right: 5px;
}
